[Unit]
Description= A web service get now time string
After=network.target
StartLimitIntervalSec=0
[Service]
User=vagrant
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/now

[Install]
WantedBy=multi-user.target
